@page "/CashManagement/Pages/CashMgmtStartPage"

<PageTitle>Cash Mgmt</PageTitle>

<Row TextAlignment=TextAlignment.Center Margin="Margin.Is3.FromTop">
    <Heading Size="HeadingSize.Is5">
        Pipefitter's Supply Company
    </Heading>
</Row>

<p style="text-align:center;">
    <img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p>

@code {

}