@inherits FluxorComponent

<ErrorBoundary>
    <div class="row align-items-center justify-content-end">
        <div class="col-5 align-self-center">
            <Text>
                Filter: @_selectedFilter
            </Text>
        </div>
        <div class="col-7 align-self-center justify-content-end">
            <Buttons Role="ButtonsRole.Toolbar" Margin="Margin.Is1.FromEnd">
                <Button Color="Color.Primary" Size=Size.Small Clicked=@( () => OnFilterChanged("all") )>All</Button>
                <Button Color="Color.Primary" Size=Size.Small Clicked=@( () => OnFilterChanged("active") )>Active</Button>
                <Button Color="Color.Primary" Size=Size.Small Clicked=@( () => OnFilterChanged("inactive") )>Inactive</Button>                   
            </Buttons>
        </div>
    </div>
</ErrorBoundary>