<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" Breakpoint="Breakpoint.Desktop"
    NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark">
    <BarToggler />
    <BarBrand>
        <BarItem>
            <BarLink To="">
                Pipefitter's Supply Co.
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">
                    <span><i class="fas fa-home"></i></span>
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="CashManagement/Pages/CashMgmtStartPage">
                    <span><i class="fas fa-landmark"></i></span>
                    Cash Management
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="Finance/FinanceStartPage">
                    <span><i class="far fa-chart-bar"></i></span>
                    Finance
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="HumanResources/HrStartPage">
                    <span><i class="fas fa-users"></i></span>
                    Workers
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="Admin/AdminStartPage">
                    <span><i class="fas fa-journal-whills"></i></span>
                    Admin
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>