@inject NavigationManager NavManager

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
    <BarToggler />
    <BarMenu>
        <BarEnd>
            <BarItem class="mr-4">
                <Button Margin="Margin.Is3.FromEnd" Color="Color.Secondary" Size="Size.Small">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {

}