@inherits FluxorComponent
@inject NavigationManager NavManager

<div class="col-md-2">
    <button @onclick=OnButtonClick class="btn btn-labeled btn-lg btn-outline-primary rounded-pill" role="button">
        <span class="btn-label"><i class="fas fa-plus"></i></span>
    </button>
</div>

@code {
    [Parameter] public string? Uri { get; set; }
    [Parameter] public EventCallback PreNavigationProcessingHandler { get; set; }

    private async Task OnButtonClick()
    {
        await PreNavigationProcessingHandler.InvokeAsync();
        NavManager.NavigateTo(Uri!);
    }
}