@typeparam TWriteModel
@inherits FluxorComponent

@inject NavigationManager NavManager
@using ReaAccountingSys.Client.HumanResources.Components
@using Blazorise.Snackbar

<ErrorBoundary>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <Heading TextColor="TextColor.Dark" Size="HeadingSize.Is5"
                        Margin="Margin.Is1.FromStart">
                        @FormTitle
                    </Heading>
                </CardHeader>
                <CardBody>
                    @if (WriteModel is not null)
                    {
                        <Validations @ref="_validations" Mode="ValidationMode.Auto" ValidateOnLoad=false Model=@WriteModel>
                            <Container style="background-color:#F0F0F0;">
                                @DataEntryFieldsTemplate
                            </Container>                            
                        </Validations>                        
                        <Field Margin="Margin.Is4.FromTop">
                            <Button Color="Color.Success" Clicked="OnSave" Loading="@_isLoading">Save changes</Button>
                            <Button Color="Color.Secondary" Type="ButtonType.Link" To=@ReturnUri>Cancel editing</Button>
                        </Field>
                        <Snackbar @ref="_snackbar" DefaultInterval=1500 Closed=@( () => NavManager.NavigateTo(@ReturnUri!) )>
                            <SnackbarBody>
                                @SnackBarMessage
                            </SnackbarBody>
                        </Snackbar>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    }
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
        </Column>
    </Row>
</ErrorBoundary>
